.portfolio{
  min-height: 370px;
  max-width: 1140px;
  width: 100%;
  margin-top: 90px;
}
.portfolio__topic{
  margin: 0px;
  padding: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}
.portfolio__links{
  max-width: 1140px;
}
.portfolio__linkbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-color:#E6E6E6;
  margin-top: 20px;
}
.portfolio__linkbox:last-child{
  border-bottom: none;
  margin-bottom: 0px;
}
.portfolio__linkbox:first-child{
  margin-top: 50px;
}
.portfolio__site{
  margin: 0px;
  padding: 0px;
  margin-bottom: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: -0.04em;
}
.portfolio__site:last-child{
  margin-bottom: 0px;
}
.portfolio__link{
  margin: 0px;
  padding: 0px;
  margin-bottom: 19px;
}
.portfolio__imagelink{
  width: 18px;
  height: 60px;
}


@media screen  and (max-width: 1160px) {
  .portfolio{
    max-width: 668px;
  }

  .portfolio__linkbox:first-child{
    margin-top: 42px;
  }

  .portfolio__linkbox {
    margin-top: 15px;
  }


  .portfolio__link{
    width: 27px;
    height: 60px;
    margin-bottom: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .portfolio__imagelink{
      width: 15px;
      height: 27px;
    }
}

@media screen  and (max-width: 690px) {
  .portfolio{
    max-width: 292px;
    margin-left: 0px;
    margin-top: 24px;
  }
  .portfolio__topic{
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__site{
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__linkbox{
    margin-top: 11px;
  }
  .portfolio__imagelink{
    width: 10px;
    height: 15px;
  }

  .portfolio__link{
    width: 18px;
    height: 28px;
    margin-bottom: 27px;
  }
  .portfolio__site{
    margin-bottom: 25px;
}
}